<div class="container-fluid footer">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
				<h6 class="text-uppercase hide">
					InstallThisApp
					<hr/>
				</h6>
				<ul class="list-unstyled">
					<li><p><a href="/">Home</a></p></li>
					<li><p><a href="/signup">Signup</a></p></li>
					<li><p><a href="http://help.installthisapp.com/" target="_blank" rel="noopener" title="InstallThisApp help center">Knowledge Base</a></p></li>
					<li><p><a href="https://www.installthisapp.com" target="_blank" rel="noopener" title="InstallThisApp legacy version">Legacy version</a></p></li>
				</ul>
			</div>
		</div>
		<hr/>
	</div>
	<div class="col-md-12 text-center">
		<p>InstallThisApp.com</p>
	</div>
</div>