<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="manifest" href="/public/manifest.json">
	<title>InstallThisApp</title>
	<!-- <link rel="stylesheet" media="all" href="<%= cloudFrontUrl %>/static/landing_styles.css" /> -->
	<script src="<%= cloudFrontUrl %>/static/common.js"></script>
	<script src="<%= cloudFrontUrl %>/static/landing.bundle.js"></script>
	<script src="/public/pushido_api_native_min.js"></script>
	<script>
		ps_app_subdomain = "installthisapp";
		ps_app_token = "396126945287ca44f48129d8fa42bd7920a9621d";


		// SW Callbacks
		function ps_cb_sw_registered() {

		}


		function ps_cb_incognito_detected() {

		}



		//Subscriptions

		function ps_cb_default() {
			ps_requestAndSubscribe();
		}

		function ps_cb_denied() {

		}

		function ps_cb_closed() {
			ps_requestAndSubscribe();
		}

		function ps_cb_subscribed() {

		}

		function ps_cb_unsubscribed() {
		}

		function ps_cb_granted() {

		}		

		function ps_cb_not_supported() {

		}	

		function ps_cb_connection_failed() {

		}

		function ps_cb_loading_start() {

		}

		function ps_cb_loading_end() {

		}	


		ps_swRegister();	


	</script>
</head>