<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="manifest" href="/public/manifest.json">
	<title>InstallThisApp</title>
	<link rel="stylesheet" media="all" href="<%= cloudFrontUrl %><%= cssBundle %>" />
</head>