;<div class="container-fluid upsell">
	<div class="col-md-12 text-center">
		<h3 class="text-righ" styl="margin: 0px">
			<b>Signup now</b>
		</h3>
		<br />
	</div>
	<div class="col-md-12 text-center">
		<a href="/signup" class="btn btn-primary btn-lg btn-extra-shadow text-uppercase">
			Start free trial
		</a>
	</div>
</div>
