<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title>InstalThisApp</title>
</head>
<body>
	<div id="root"></div>
	<script>
		window.apiUrl = "<%= apiUrl %>";
		window.facebookAppId = "<%= facebookAppId %>";
	</script>
	<script src="/static/common.js"></script>
	<script src="/static/dashboard.bundle.js"></script>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : window.facebookAppId,
				xfbml      : true,
				version    : 'v2.7'
			});
		};
		(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</body>
</html>