<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,100,100italic" />
	<link rel="stylesheet" type="text/css" href="/landing/styles/styles.css" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title>InstallThisApp</title>
</head>
<body>
	<span id="our-clients" class="hide"></span>
	<header class="jumbotron site-jumbotron white-text-area homepage-jumbotron home-header-2" id="large-header">
		<div class="container">
			<div class="homepage-jumbotron-conten">
				<h1 class="text-center site-title">Do you like trying new things?</h1>
				<h2 class="text-center site-subtitle h3">
					Of course you do. That's why you're invited to the early preview of the new InstallThisApp.
				</h2>
				<div class="text-center">
					<p><a href="/signup" class="btn btn-primary btn-lg site-cta">Signup</a></p>
					<span href="#" class="hide btn btn-lg btn-primary site-cta cta-glow">Start now</span>
					<button onclick="javascript:login()" class="hide btn btn-lg btn-primary site-cta absolute-horizontal-center" data-loading-text="Please wait...">Start now</button>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<p style="font-size: 12px">Already have an account? <a href="/login">Login →</a></p>
			</div>
		</div>
		<canvas id="demo-canvas" class="hidden-xs hidden-sm"></canvas>
	</header>
	<script type="text/javascript" src="<%= cloudFrontUrl %>/landing/landing.js"></script>
	<%- include('_segment') %>
	<script type="text/javascript">
		analytics.page('Home')
	</script>
</body>
</html>