<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,100,100italic" data-turbolinks-track="true" />
	<link rel="stylesheet" type="text/css" href="/landing/styles/styles.css" />
	<title>InstallThisApp V3</title>
</head>
<body>
	<span id="our-clients" class="hide"></span>
	<header class="jumbotron site-jumbotron white-text-area homepage-jumbotron home-header-2" id="large-header">
		<div class="container">
			<div class="homepage-jumbotron-content">
				<h1 class="text-center site-title">Do you like trying new things?</h1>
				<h2 class="text-center site-subtitle h3">
					Of course you do. That's why you're invited to the early preview of the new InstallThisApp.
				</h2>
				<div class="text-center">
					<span href="#" class="btn btn-lg btn-primary site-cta cta-glow">Start now</span>
					<button onclick="javascript:login()" class="btn btn-lg btn-primary site-cta absolute-horizontal-center" data-loading-text="Please wait...">Start now</button>
				</div>
			</div>
		</div>
		<canvas id="demo-canvas" class="hidden-xs hidden-sm"></canvas>
	</header>





	<script type="text/javascript" src="/landing/landing.js"></script>
	<!-- <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script> -->
	<script type="text/javascript" src="/node_modules/js-cookie/src/js.cookie.js"></script>
	<script>
		var saveCookie = function(name, value){
			Cookies.set(name, value);
		}

		var login = function(){
			FB.login(function(response) {
				$.ajax({
					type: "POST",
					url: '<%=apiUrl%>/admin_users.json',
					data: {
						signed_request: response.authResponse.signedRequest
					},
					success: function(res){
						saveCookie('api_key', res)
						console.log('success!')
						top.location = 'https://' + window.location.host + '/d'
					},
					dataType: 'text'
				});
				if (response.authResponse) {
					console.log('Welcome!  Fetching your information.... ');
					FB.api('/me', function(response) {
						console.log('Good to see you, ' + response.name + '.');
					});
				} else {
					console.log('User cancelled login or did not fully authorize.');
				}
			});
		}

		window.fbAsyncInit = function() {
			FB.init({
				appId      : '<%=facebookAppId%>',
				xfbml      : true,
				version    : 'v2.7'
			});
		};

		(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
</body>
</html>