<!DOCTYPE html>
<html lang="en">
<%- include('_head') %>
<body>
	<%- include('_navbar', {alt: true}) %>
	<div class="container">
		<div class="col-md-12">
			<br/>
			<br/>
			<h1 class="text-center"><b>We scale as your requirements grow</b></h1>
			<br/>
			<br/>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body flex flex-vertical flex-space-between" style="min-height: 500px">
					<h3 class="text-center"><b>Pay as you go</b></h3>
					<ul class="list-unstyled text-center" style="line-height: 2">
						<li>5 campaigns</li>
						<li>single admin account</li>
						<li>in-app support via chat</li>
						<li>Facebook tab integration</li>
						<li>Standalone public webpage for each app</li>
						<li>Mobile and desktop views</li>
						<li>100% customizable texts and buttons</li>
						<li>100% customizable styles and images</li>
					</ul>
					<div class="checkbox hide">
						<label>
							<u><input name="pack" type="checkbox"> <b>Agency Pack + $40</b></u><br/>
							<span>unlimited apps</span><br/>
							<span>5 team members</span>
						</label>
					</div>
					<br/>
					<div class="checkbox hide">
						<label>
							<u><input name="pack" type="checkbox"> <b>Enterprise Pack + $270</b></u><br/>
							<span>unlimited apps</span><br/>
							<span>10 team members</span><br/>
							<span>white label</span>
						</label>
					</div>
					<p class="text-center">starting at <b>$29/month</b></p>
					<a href="/signup" class="btn btn-primary btn-lg btn-block text-uppercase">Start free trial</a>
				</div>
			</div>
		</div>
	</div>
	<%- include('_footer') %>
	<%- include('_segment') %>
	<script type="text/javascript">
		analytics.page('Pricing')
	</script>
</body>
</html>