<!DOCTYPE html>
<html lang="en">
<%- include('_head') %>
<body>
	<div class="container-flex flex-space-around container-full-height flex-grow">
		<div class="flex-grow flex flex-vertical flex-center">
			<div class="col-md-12 text-center">
				<h1 class="h2">Check your inbox</h1>
				<h4 class="">We've sent you an email with instructions on how to change your password</h4>
				<h4>It should arrive in a moment</h4>
				<p><a href="/">⃪ Go back</a></p>
			</div>
		</div>
	</div>
	<%- include('_scripts') %>
	<%- include('_segment') %>
	<script type="text/javascript">
		// analytics.page('Recovery email sent')
	</script>
</body>
</html>