<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,100,100italic" />
	<link rel="stylesheet" type="text/css" href="/landing/styles/styles.css" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<title>InstallThisApp</title>
	<script type="text/javascript" src="/landing/landing.js"></script>
	<script>
		var forgot = function(){
			var email = $('#email').val()
			fetch('<%= apiUrl %>/auth/password.json', {
				method: 'POST',
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					email: $('#email').val(),
					redirect_url: 'https://' + window.location.hostname + '/reset-password'
				})
			}).then(response => {
				return response.json()
			})
			.then(json => {
				console.log('forgot response')
				console.log(json)
				top.location = location.protocol + '//' + window.location.host + '/forgot/sent'
			})
			.catch(exception =>
				console.log('parsing failed', exception)
			)
		}
	</script>
	<%- include('_segment') %>
	<script type="text/javascript">
		// analytics.page({
			// name:  'Home',
		// })
	</script>
</head>
<body>
	<span id="our-clients" class="hide"></span>
	<header class="jumbotron site-jumbotron white-text-area homepage-jumbotron home-header-2" id="large-header">
		<div class="container">
			<div>
				<h2>Forgot your password?</h2>
				<h4>Type in your email and we'll send you a recovery link</h4>
				<div class="form-group">
					<input type="email" id="email" name="email" class="form-control" placeholder="Email">
				</div>
				<button type="submit" class="btn btn-default" onclick="javascript:forgot();">Send me the recovery link</button>
			</div>
		</div>
	</header>
</body>
</html>