.ita-panel-screen
	+transition(-webkit-filter linear $animation-speed-base)
	&.greyed-out
		+filter(grayscale(1))
		.ita-panel-overlay
			display: none
	.panel-body
		padding: 0px
		height: 200px
		overflow: hidden
		position: relative
		&:hover
			.ita-panel-overlay
				opacity: 1
		img
			width: 100%
			position: absolute
			top: 50%
			+transform(translateY(-50%))
		.ita-panel-overlay, .ita-panel-overlay-spinner
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			text-align: center
		.ita-panel-overlay-spinner
			display: flex
			justify-content: center
			align-items: center
		.ita-panel-overlay
			opacity: 0
			background: rgba(0,0,0,.5)
			+transition(opacity linear $animation-speed-base)
	.panel-footer
		background: white
		padding-bottom: nth($panel-footer-padding, 1)
.ita-panel-screen-title
	margin-bottom: 0px
.circle
	&:before
		background-color: white !important