/*comment*/
body{
	background: white;
	font-size: 18px;
}
/*comment*/
.ita-app-title{
	font-family: Arial;
	text-decoration: underline;
	color: beige;
}
.ita-subtitle, .nav-little{
	font-size: 12px;
}
.page-title,.text-highlight{
	color: blue;
}