<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic,200,200italic" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<link rel="manifest" href="/public/manifest.json">
	<title><%= title %></title>
	<link rel="stylesheet" media="all" href="<%= cloudFrontUrl %><%= cssBundle %>" />

	<!-- stuff for SEO -->
	<meta name="description" content="Users upload photos from their computers of mobile phones. Then, they share links to your app asking for votes. Extremely viral!" />
	<meta name="keywords" content="facebook business page, facebook for business, facebook page apps, photo contest, image contest, votes contest, contest app, facebook game, facebook tab, facebook app" />
	<meta name="distribution" content="global"/>
	<meta name="resource-type" content="document"/>
	<meta http-equiv="Pragma" content="cache"/>
	<meta name="robots" content="all,index,follow"/>
	<meta name="Revisit" content="7 days"/>
	<meta property="og:title" content="<%= title %>" />
	<meta property="og:url" content="http://installthisapp.com/apps/photo-contest-for-facebook-pages.html"/>
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://installthisapp.com/images/icons/modules/og-app-icons/photo_contest.png"/>
	<meta property="og:site_name" content="InstallThisApp"/>
	<meta property="og:description" content="Users upload photos from their computers of mobile phones. Then, they share links to your app asking for votes. Extremely viral!"/>
</head>