<div class="col-md-3 col-sm-6 col-xs-6 app-preview text-center">
	<a href="<%= url %>">
		<div class="app-icon sprite sprite-<%= image %>"></div>
	</a>
	<h3 class="app-preview-title">
		<a href="<%= url %>">
			<%= title %>
		</a>
	</h3>
	<a href="/signup" class="app-preview-install-link hidden-xs">Start now</a>
</div>