<section class="section-cta white-text-area text-center" id="call-to-action-area">
	<div class="container">
		<h2 class="section-cta-heading">Over 6,157,946 people have participated in promotions created with our tools</h2>
		<h3 class="section-cta-subheading"><i>Add some buzz to your social profiles</i></h3>
		<p class="hidden-xs">
			<a href="/signup" class="btn btn-lg btn-primary site-cta section-cta-button">Start now</a>
		</p>
		<p class="visible-xs hidden-sm hidden-md hidden-lg"><a href="/signup" class="btn btn-lg btn-primary site-cta section-cta-button" >Start now</a></p>
		<!-- <p class="tip section-cta-smallprint"><small>In order to install our applications you must first connect with Facebook. Don't worry, we won't post anything to your timeline</small></p> -->
		<h4 class="section-cta-credit"><i>Trusted by the awesome folks making campaigns for these brands</i></h4>
		<ul class="list-unstyled customers-list">
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-1">Toyota</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-2">Philips</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-3">Samsung</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-4">AVIS</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-5">Kellogs</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-6">Budweiser</div>
			</li>
		</ul>
	</div>
</section>