<footer class="footer text-center-xs text-center-sm">
	<div class="container">
		<div class="col-md-3 footer-block">
			<h4 class="list-title"><img src="/images/landing-v2/logo-black.png" style="width: 50px;" alt="InstallThisApp dark logo" class="footer-logo"></h4>
			<p>&copy; InstallThisApp 2017</p>
		</div>
		<div class="col-md-3 footer-block">
			<h4 class="list-title">Resources</h4>
			<ul class="list-unstyled">
				<li><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
				<li><a href="/refund-policy" title="Refund Policy">Refund Policy</a></li>
				<li><a href="/terms-conditions" title="Terms & Conditions">Terms & Conditions</a></li>
				<li><a href="http://help.installthisapp.com/" title="Knowledge Base" target="_blank">Knowledge Base</a></li>
				<li><a href="http://blog.installthisapp.com" title="InstallThisApp Blog" target="_blank">Blog</a></li>
				<li><a href="https://installthisapp.com" title="InstallThisApp legacy version" target="_blank">Legacy version</a></li>
			</ul>
		</div>
		<div class="col-md-3 col-md-offset-3 text-right-not-xs text-right-not-sm footer-block">
			<h4 class="list-title">Get in touch</h4>
			<p>
				<a href="https://twitter.com/installthisapp" target="_blank" class="sprite sprite-icon-tw-off"></a>
				<a href="https://facebook.com/installthisapp" target="_blank" class="sprite sprite-icon-fb-off"></a>
				<a href="mailto:hello@installthisapp.com" class="sprite sprite-icon-mail-off"></a>
			</p>
		</div>
	</div>
	<div class="subfooter hidden-xs">
		<div class="container">
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Contests</h4>
				<ul class="list-unstyled">
					<li><a href="/top-fans" title="Real-time top fans Facebook contest">Top Fans contest for Facebook pages</a></li>
					<li><a href="/photo-contest" title="Photo Contest for Facebook Pages">Photo Contest</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Games</h4>
				<ul class="list-unstyled">
					<li><a href="/trivia" title="Online Trivia quiz">Trivia Quiz</a></li>
					<!-- <li><a href="/memory-match-game.html">Memory Match</a></li> -->
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Guides</h4>
				<ul class="list-unstyled">
					<li><a href="http://help.installthisapp.com/trivia" title="How to create an online trivia quiz contest">How to create a social Trivia Quiz</a></li>
					<li><a href="http://help.installthisapp.com/integrations/displaying-your-app-as-a-facebook-tab" title="Put your online contest in a Facebook page tab">How to show your app as a Facebook Tab</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Tools</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.pushido.com" target="_blank" title="Pushido Notifications for websites and apps">Pushido Notifications</a></li>
					<li><a href="/lead-ads-sync" title="Synch your Facebook Lead ads with any CRM">Facebook Lead Ads syncing</a></li>
				</ul>
			</div>
			<div class="col-md-12">
				<hr>
			</div>
			<div class="col-md-6 footer-block">
				<h4 class="list-title">From our blog</h4>
				<ul class="list-unstyled">
					<li><a href="http://blog.installthisapp.com/the-best-games-for-yourfacebook-fanpage/" target="_blank" title="The best games for your Facebook Fanpage">The best games for your Facebook Fanpage</a></li>
					<li><a href="http://blog.installthisapp.com/how-to-integrate-a-dynamic-form-to-an-application-on-facebook/" target="_blank" title="How to integrate a dynamic form with a Facebook tab app?">How to integrate a dynamic form with a Facebook tab app?</a></li>
					<li><a href="http://blog.installthisapp.com/discount-coupons-for-facebook-pages/" target="_blank" title="Discount coupons for Facebook pages">Discount coupons for Facebook pages</a></li>
				</ul>
			</div>
			<div class="col-md-6 footer-block">
				<br>
				<br>
				<br>
				<ul class="list-unstyled">
					<li><a href="http://blog.installthisapp.com/spot-the-difference-game/" target="_blank" title="Spot the difference game">Spot the difference game</a></li>
					<li><a href="http://blog.installthisapp.com/winning-code/" target="_blank" title="Winning code">Winning code</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>