<footer class="footer text-center-xs text-center-sm">
	<div class="container">
		<div class="col-md-3 footer-block">
			<h4 class="list-title"><img src="/images/landing-v2/logo-black.png" style="width: 50px;" alt="InstallThisApp dark logo" class="footer-logo"></h4>
			<p>&copy; InstallThisApp 2017</p>
		</div>
		<div class="col-md-3 footer-block">
			<h4 class="list-title">Recursos</h4>
			<ul class="list-unstyled">
				<li><a href="/privacy-policy" title="Privacy Policy">Política de Privacidad</a></li>
				<li><a href="/refund-policy" title="Refund Policy">Política de devoluciones</a></li>
				<li><a href="/terms-conditions" title="Terms & Conditions">Términos y Condiciones</a></li>
				<li><a href="http://help.installthisapp.com/" title="Knowledge Base" target="_blank" rel="noopener">Centro de Ayuda</a></li>
				<li><a href="http://blog.installthisapp.com" title="InstallThisApp Blog" target="_blank" rel="noopener">Blog</a></li>
				<li><a href="https://installthisapp.com" title="InstallThisApp legacy version" target="_blank" rel="noopener">Versión anterior</a></li>
			</ul>
		</div>
		<div class="col-md-3 col-md-offset-3 text-right-not-xs text-right-not-sm footer-block">
			<h4 class="list-title">Contáctanos</h4>
			<p>
				<a href="https://twitter.com/installthisapp" target="_blank" rel="noopener" class="sprite sprite-icon-tw-off"></a>
				<a href="https://facebook.com/installthisapp" target="_blank" rel="noopener" class="sprite sprite-icon-fb-off"></a>
				<a href="mailto:hello@installthisapp.com" class="sprite sprite-icon-mail-off"></a>
			</p>
		</div>
	</div>
	<div class="subfooter hidden-xs">
		<div class="container">
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Concursos</h4>
				<ul class="list-unstyled">
					<li><a href="/top-fans" title="Concurso de Top Fans para Páginas de Facebook">Concurso de Top Fans para Páginas de Facebook</a></li>
					<li><a href="/photo-contest" title="Concurso de Fotos para redes sociales">Concurso de Fotos para redes sociales</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Juegos</h4>
				<ul class="list-unstyled">
					<li><a href="/trivia" title="Online Trivia quiz">Trivia Quiz</a></li>
					<!-- <li><a href="/memory-match-game.html">Memory Match</a></li> -->
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Guías</h4>
				<ul class="list-unstyled">
					<li><a href="http://help.installthisapp.com/trivia" title="Cómo crear un concurso de Trivia para tus Páginas en Facebook">Cómo crear una Trivia para redes sociales</a></li>
					<li><a href="http://help.installthisapp.com/integrations/displaying-your-app-as-a-facebook-tab" title="Cómo mostrar tus concursos en un Tab en Facebook">Cómo mostrar tus concursos en un Tab en Facebook</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-block">
				<h4 class="list-title">Herramientas</h4>
				<ul class="list-unstyled">
					<li><a href="https://www.pushido.com" target="_blank" rel="noopener" title="Plataforma de notificaciones web y móvil para desarrolladores">Pushido Notifications</a></li>
					<li><a href="/lead-ads-sync" title="Sincroniza Facebook Lead Ads con Mailchimp o tu CRM preferido">Sincroniza Facebook Lead Ads con Mailchimp</a></li>
				</ul>
			</div>
			<div class="col-md-12">
				<hr>
			</div>
			<div class="col-md-6 footer-block">
				<h4 class="list-title">Desde nuestro blog</h4>
				<ul class="list-unstyled">
					<li><a href="http://blog.installthisapp.com/the-best-games-for-yourfacebook-fanpage/" target="_blank" rel="noopener" title="Los mejores juegos para tus Páginas de Facebook">Los mejores juegos para tus Páginas de Facebook</a></li>
					<li><a href="http://blog.installthisapp.com/how-to-integrate-a-dynamic-form-to-an-application-on-facebook/" target="_blank" rel="noopener" title="¿Cómo integrar un formulario dinámico con una Página de Facebook?">¿Cómo integrar un formulario dinámico con una Página de Facebook?</a></li>
					<li><a href="http://blog.installthisapp.com/discount-coupons-for-facebook-pages/" target="_blank" rel="noopener" title="Aplicación de cupones de descuentos para Páginas en Facebook">Aplicación de cupones de descuentos para Páginas en Facebook</a></li>
				</ul>
			</div>
			<div class="col-md-6 footer-block">
				<br>
				<br>
				<br>
				<ul class="list-unstyled">
					<li><a href="http://blog.installthisapp.com/spot-the-difference-game/" target="_blank" rel="noopener" title='Juego "Encuentra las Diferencias"'>Juego "Encuentra las Diferencias"</a></li>
					<li><a href="http://blog.installthisapp.com/winning-code/" target="_blank" rel="noopener" title='Juego "código secreto"'>Juego "código secreto"</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>