<nav class="navbar navbar-default navbar-static-top main-navbar scrollable-navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/images/landing-v2/v3-white.png" style="width: 50px;" /></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<!-- <li class=""><a href="/features">features</a></li> -->
				<li class=""><a href="/apps" title="Create online contests for Facebook campaigns">Create online Contests</a></li>
				<!-- <li class=""><a href="/pricing">pricing</a></li> -->
				<li class=""><a href="http://help.installthisapp.com/" target="_blank" title="InstallThisApp help center">Get Support</a></li>
				<li class=""><a href="/white-label-contests" title="White label online contests for Agencies">White Label Apps</a></li>
				<li class=""><a href="http://blog.installthisapp.com" target="_blank" title="Tips about marketing, online contests">Blog</a></li>
				<li><a href="/login"><span class="nav-cta">Log in</span></a></li>
			</ul>
		</div>
	</div>
</nav>