<section class="section-about">
	<div class="container text-center">
		<h2 class="h1 col-md-12 section-about-title">How does this work?</h2>
		<div class="col-md-4 extra-feature-block">
			<div class="sprite sprite-symbol-color-app"></div>
			<div class="section-about-arrow hidden-xs hidden-sm"></div>
			<h3>Choose a game or app</h3>
			<p>We've got apps for contests, games, sweepstakes, and you can customise all of them</p>
		</div>
		<div class="col-md-4 extra-feature-block">
			<div class="sprite sprite-symbol-color-facebook"></div>
			<div class="section-about-arrow hidden-xs hidden-sm"></div>
			<h3>Publish everywhere</h3>
			<p>Share your promotions on all your social profiles and install them in Facebook Page tabs</p>
		</div>
		<div class="col-md-4 extra-feature-block">
			<div class="sprite sprite-symbol-color-advertising"></div>
			<h3>Get leads</h3>
			<p>Collect user data and export it to your favorite tools</p>
		</div>
	</div>
</section>