<div class="section-extra-features text-center">
	<div class="container">
		<div class="col-md-4 extra-feature-block">
			<div class="sprite sprite-symbol-color-time"></div>
			<h3 class="text-center">Scheduled publishing</h3>
			<p class="text-center">Our apps can be scheduled to install or uninstall themselves automatically at the day and time of your preference</p>
		</div>
		<div class="col-md-4 extra-feature-block">
			<div class="sprite sprite-symbol-color-platforms"></div>
			<h3 class="text-center">Made for web and mobile</h3>
			<p class="text-center">All of our apps are accessible via both desktop or mobile devices. For every app you install, you get a smartlink to share, through which users get redirected to the proper version for their device</p>
		</div>
		<div class="col-md-4 extra-feature-block">
			<div class="sprite sprite-symbol-color-form"></div>
			<h3 class="text-center">Optional forms</h3>
			<p class="text-center">Gather more information from your user base with custom forms at the beginning or end of their experience on your app</p>
		</div>
	</div>
</div>