<section class="section-brands" id="our-clients">
	<div class="container text-center">
		<ul class="list-unstyled customers-list">
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-gray-1">Toyota</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-gray-2">Philips</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-gray-3">Samsung</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-gray-4">AVIS</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-gray-5">Kellogs</div>
			</li>
			<li>
				<div title="See customers using InstallThisApp" class="sprite sprite-client-gray-6">Budweiser</div>
			</li>
		</ul>
	</div>
</section>