<!DOCTYPE html>
<html lang="en">
<%- include('../_head', {title: 'InstallThisApp'}) %>
<body>
	<%- include('_navbar') %>
	<header class="jumbotron site-jumbotron white-text-area">
		<div class="container">
			<div class="header-magic-appearance">
				<h1 class="text-center site-title">Privacy Policy</h1>
			</div>
		</div>
	</header>

	<section class="section">
		<div class="container text-center-xs">
			<div class="long-copy col-md-6 col-md-offset-3">
				<p>If you are not 100% satisfied with your purchase, within 120 days from the purchase date, we will fully refund the cost of your order.</p>
				<p>Just contact us via in-app chat at the bottom-right corner of your screen or visit our <a href="http://help.installthisapp.com/">Help Center</a></p>
			</div>
		</div>
	</section>
	<hr>
	<%- include('_footer') %>
	
</body>
</html>