.container-flex
	display: flex
	justify-content: space-around
	flex-wrap: wrap
.col-flex
	padding: $grid-gutter-width / 2 
.col-flex-basis-4
	flex-basis: 25%

// 
// OLD
// 
.ita-flex-box
	display: flex
.ita-flex-box-horizontal
	flex-direction: row
.ita-flex-shrink
	flex-grow: 0
.ita-flex-block
	flex-grow: 1
.ita-flex-justify-start
	justify-content: flex-start
.ita-flex-justify-end
	justify-content: flex-end
.ita-flex-items-center
	align-items: center
.ita-flex-content-center
	align-content: center